<!DOCTYPE html>
<html>

<head>
    <title>Mapocalipse</title>
    {% load static %}
    <style>
        @font-face {
            font-family: 'Neo Sans Italic';
            src: url('{% static "game/fonts/NeoSans-BoldItalic.woff2" %}') format('woff2'),
            url('{% static "game/fonts/NeoSans-BoldItalic.woff" %}') format('woff');
            font-weight: bold;
            font-style: normal;
        }
    </style>
    <link rel="stylesheet" href="{% static 'game/planetEarth/css/earth.css' %}">
    <link rel="stylesheet" href="{% static 'game/css/homepage.css' %}">
</head>

<body>
    <script>
        const earthBumpUrl = "{% static 'game/planetEarth/textures/earthBump.jpg' %}";
        const earthCloudUrl = "{% static 'game/planetEarth/textures/earthCloud.png' %}";
        const earthMap1kUrl = "{% static 'game/planetEarth/textures/earthMap1k.jpg' %}";
        const galaxyTextureUrl = "{% static 'game/planetEarth/textures/galaxy.png' %}";
        const spacularMapUrl = "{% static 'game/planetEarth/textures/specularMap.jpg' %}";
        </script>
    <canvas id="c"></canvas>
    
    <script src="{% static 'game/planetEarth/js/earth.js' %}"></script>
    <script src="{% static 'game/planetEarth/js/three.js' %}"></script>
    <nav>
        <a href="../singleplayer/home/">Singleplayer</a>
        <a href="../multiplayer/home/">Multiplayer</a>
        <a href="logout/">Logout</a>
    </nav>
</body>

</html>