{% extends 'baseLog.html' %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'authentication/css/login.css' %}">
<link rel="stylesheet" href="{% static 'game/planetEarth/css/earth.css' %}">
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
<script src="{% static 'authentication/js/login.js' %}" defer></script>
{% endblock %}


{% block content %}
<style>
    @font-face {
        font-family: 'Neo Sans';
        src: url('{% static "game/fonts/NeoSans.woff2" %}') format('woff2'),
        url('{% static "game/fonts/NeoSans.woff" %}') format('woff');
        font-weight: lighter;
        font-style: normal;
    }
</style>
<script>
    const earthBumpUrl = "{% static 'game/planetEarth/textures/earthBump.jpg' %}";
    const earthCloudUrl = "{% static 'game/planetEarth/textures/earthCloud.png' %}";
    const earthMap1kUrl = "{% static 'game/planetEarth/textures/earthMap1k.jpg' %}";
    const galaxyTextureUrl = "{% static 'game/planetEarth/textures/galaxy.png' %}";
    const spacularMapUrl = "{% static 'game/planetEarth/textures/specularMap.jpg' %}";
</script>
<canvas id="c"></canvas>

<script src="{% static 'game/planetEarth/js/earth.js' %}"></script>
<script src="{% static 'game/planetEarth/js/three.js' %}"></script>
<div class="login wrapper">
    <form action="../login/">
        <h2>Login</h2>
        <div class="input-field">
            <input type="text" id="loginUsername" required>
            <label>Username</label>
        </div>
        <div class="input-field">
            <input type="password" id="loginPassword" name="password" required>
            <label>Password</label>
        </div>
        {% csrf_token %}
        <button type="submit" id="loginButton">Log In</button>
        <div class="changer">
            <p>Don't have an account? <a href="" id="_register">Register</a></p>
        </div>
        <p id="loginError" style="color:white;"></p>
    </form>
</div>
<div class="register wrapper" style="display:none;">
    <form action="../register/">
        <h2>Regsiter</h2>
        <div class="input-field">
            <input type="text" id="registerUsername" name="username" required>
            <label>Username</label>
        </div>
        <div class="input-field">
            <input type="text" id="registerEmail" name="email" required>
            <label>Email</label>
        </div>
        <div class="input-field">
            <input type="password" id="registerPassword" name="password" required>
            <label>Password</label>
        </div>
        <div class="input-field">
            <input type="password" id="confirmPassword" name="confirmpassword" required>
            <label>Confirm Password</label>
        </div>
        {% csrf_token %}
        <button type="submit" id="registerButton">Register</button>
        <div class="changer">
            <p>Already have an account? <a href="" id="_login">Login</a></p>
        </div>
        <p id="regError" style="color:white;"></p>
    </form>
</div>
{% endblock %}