<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'multiplayer/css/lobbyStyle.css' %}">
</head>

<body>
    <div class="centered-form createForm">
        <form class="rounded-form">
            <h1>Create Lobby</h1>
            <input type="number" name="rounds" placeholder="Number of Rounds(1-10)" required min="1" max="10">
            <div class="time-container">
                <div class="checkbox-container">
                    <label for="timelimit">Time Limit</label>
                    <div class="toggle">
                        <input type="checkbox" name="timelimit" id="timelimit">
                        <span class="slider"></span>
                    </div>
                </div>
                <input type="number" name="time" class="time-limit" placeholder="Time Limit (minutes(1-10))" min="1"
                    max="10">
            </div>
            <div class="button-container">
                <button id="create-lobby-button">Create Lobby</button>
                <button id="join-button">Join Lobby</button>
            </div>
        </form>
    </div>

    <div class="centered-form joinForm" style="display:none;">
        <form class="rounded-form">
            <h1>Join Lobby</h1>
            <input type="text" name="code" placeholder="#000000" maxlength="7">
            <p id="error"></p>
            <div class="button-container">
                <button id="join-lobby-button">Join</button>
                <button id="create-button">Create Lobby</button>
            </div>
        </form>
    </div>

    <div class="centered-form lobbyForm" style="display:none;">
        <form class="rounded-form">
            <h1>Lobby</h1>
            <h1 id="lobby-code"></h1>
            <div class="user-list">
            </div>
            <div class="button-container">
                <button id="start-game-button">Start Game</button>
            </div>
        </form>
    </div>
    <script>
        window.loadGoogleMapsApi = (g => {
          var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window;
          b = b[c] || (b[c] = {});
          var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams;
          return () => h || (h = new Promise(async (f, n) => {
            await (a = m.createElement("script"));
            e.set("libraries", [...r] + "");
            for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
            e.set("callback", "init");
            a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
            d[q] = f;
            a.onerror = () => h = n(Error(p + " could not load."));
            a.nonce = m.querySelector("script[nonce]")?.nonce || "";
            m.head.append(a)
          }));
          d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && h.then(() => d[l](f, ...n))
        })({ key: "AIzaSyCnVSQtfQXXdIxJOrd613xMj7qo91zMezI", v: "weekly" });
      </script>
    <script src="{% static 'multiplayer/js/serverInteractions.js' %}"></script>
    <script src="{% static 'multiplayer/js/utils.js' %}"></script>
    <script src="{% static 'multiplayer/js/lobbyScript.js' %}"></script>
</body>