<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'multiplayer/css/lobbyStyle.css' %}">
</head>

<body>
    <div class="centered-form createForm">
        <form class="rounded-form">
            <h1>Create Lobby</h1>
            <input type="number" name="rounds" placeholder="Number of Rounds(1-10)" required min="1" max="10">
            <div class="time-container">
                <div class="checkbox-container">
                    <label for="timelimit">Time Limit</label>
                    <div class="toggle">
                        <input type="checkbox" name="timelimit" id="timelimit">
                        <span class="slider"></span>
                    </div>
                </div>
                <input type="number" name="time" class="time-limit" placeholder="Time Limit (minutes(1-10))" min="1"
                    max="10">
            </div>
            <div class="button-container">
                <button id="create-lobby-button">Create Lobby</button>
                <button id="join-button">Join Lobby</button>
            </div>
        </form>
    </div>

    <div class="centered-form joinForm" style="display:none;">
        <form class="rounded-form">
            <h1>Join Lobby</h1>
            <input type="text" name="rounds" placeholder="#000000" maxlength="7">
            <div class="button-container">
                <button id="join-lobby-button">Join</button>
                <button id="create-button">Create Lobby</button>
            </div>
        </form>
    </div>

    <div class="centered-form lobbyForm" style="display:none;">
        <form class="rounded-form">
            <h1>Lobby</h1>
            <div class="user-list">
                <div class="user">
                    <p>Username1 - Host</p>
                </div>
                <hr>
                <div class="user">
                    <p>Username2 - Player</p>
                </div>
                <hr>
                <div class="user">
                    <p>Username3 - Player</p>
                </div>
            </div>
            <div class="button-container">
                <button id="start-game-button">Start Game</button>
            </div>
        </form>
    </div>
    <script src="{% static 'multiplayer/js/lobbyScript.js' %}"></script>
</body>