<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css imports -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'singleplayer/css/navbarStyle.css' %}">
    <link rel="stylesheet" href="{% static 'singleplayer/css/gamemodeStyle.css' %}">
    {% block css %} {% endblock %}
    <!-- js defer imports -->
    <script type="module" src="{% static 'singleplayer/js/gamemodeScript.js' %}" defer></script>
    {% block jsdefer%} {% endblock%}
    <title>Singleplayer</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="modesContainer modes">
        <div class="gamemodes">
            <div class="container">
                <div class="card__container">
                    <article class="card__article">
                        <img src="{% static 'game/imgs/world.jpg' %}" alt="image" class="card__img">

                        <div class="card__data">
                            <h2 class="card__title">World Mode</h2>
                            <span class="card__description">Embark on a journey all over the world without any limit.
                                The most
                                chill game mode.</span>
                            <form method="POST" action="../world/" , class="no-background">
                                {% csrf_token %}
                                <a href="" onclick=" event.preventDefault(); this.parentNode.submit();"
                                    class="card__button">Play</a>
                            </form>
                        </div>
                    </article>

                    <article class="card__article">
                        <img src="{% static 'game/imgs/timelimit.jpg' %}" alt="image" class="card__img">

                        <div class="card__data">
                            <h2 class="card__title">Time Limit Mode</h2>
                            <span class="card__description">You want a more challenging game mode? Then this is the
                                right
                                choice!</span>
                            <form method="POST" action="../timelimit" , class="no-background">
                                {% csrf_token %}
                                <a href="" onclick=" event.preventDefault(); this.parentNode.submit();"
                                    class="card__button">Play</a>
                            </form>
                        </div>
                    </article>
                    <article class="card__article">
                        <img src="{% static 'game/imgs/italy.jpg' %}" alt="image" class="card__img">

                        <div class="card__data">
                            <h2 class="card__title">Italy</h2>
                            <span class="card__description">Embark in your beautiful journey in Italy! You'll see all
                                from the
                                Sicily island in the south to the Alps in the north. </span>
                            <form method="POST" action="../country" , class="no-background">
                                {% csrf_token %}
                                <a href="" onclick=" event.preventDefault(); this.parentNode.submit();"
                                    class="card__button">Play</a>
                            </form>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    {% if user_lobbies %}
    <div class="ongoingContainer">
        <h2 class="card__title ongoingTitle">Ongoing Rounds:</h2>
        <div class="ongoingGames modesContainer">
            <div class="gamemodes">
                <div class="container">
                    <div class="card__container">
                        {% for lobby in user_lobbies %}
                        <article class="card__article">
                            {% if lobby.gamemode == 'world' %}
                            <img src="{% static 'game/imgs/world.jpg' %}" alt="image" class="card__img">
                            {% elif lobby.gamemode == 'timelimit' %}
                            <img src="{% static 'game/imgs/timelimit.jpg' %}" alt="image" class="card__img">
                            {% else %}
                            <img src="{% static 'game/imgs/italy.jpg' %}" alt="image" class="card__img">
                            {% endif %}

                            <div class="card__data">
                                <h2 class="card__title">World Mode</h2>
                                <span class="card__description">Round: {{lobby.coordinatesindex}}/5 <br>Points:
                                    {{lobby.points}}</span>
                                {% if lobby.gamemode == 'world' %}
                                <form method="POST" action="../world/" , class="no-background">
                                    <input type="hidden" name="lobby_id" value="{{lobby.lobby_id}}">
                                    {% csrf_token %}
                                    <a href="" onclick=" event.preventDefault(); this.parentNode.submit();"
                                        class="card__button">Play</a>
                                </form>
                                {% elif lobby.gamemode == 'timelimit' %}
                                <form method="POST" action="../timelimit/" , class="no-background">
                                    <input type="hidden" name="lobby_id" value="{{lobby.lobby_id}}">
                                    {% csrf_token %}
                                    <a href="" onclick=" event.preventDefault(); this.parentNode.submit();"
                                        class="card__button">Play</a>
                                </form>
                                {% else %}
                                <form method="POST" action="../country/" , class="no-background">
                                    <input type="hidden" name="lobby_id" value="{{lobby.lobby_id}}">
                                    {% csrf_token %}
                                    <a href="" onclick=" event.preventDefault(); this.parentNode.submit();"
                                        class="card__button">Play</a>
                                </form>
                                {% endif %}
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</body>

</html>