{% load static %}
<style>
    @font-face {
        font-family: 'Neo Sans';
        src: url('{% static "game/fonts/NeoSans-BoldItalic.woff" %}') format('woff2'),
            url('{% static "game/fonts/NeoSans-BoldItalic.woff2" %}') format('woff');
        font-weight: bold;
        font-style: normal;
    }
</style>
<link rel="stylesheet" href="{% static 'singleplayer/css/horizontalNavbarStyle.css' %}">
<header>
    <p class="logo">MAPOCALIPSE</p>
    <nav>
        <ul class="nav__links">
            <li><p>Round <br><span class="roundCount"><span id="roundNumber"></span>/5</span></p></li>
            <li><p>Points <br><span id="pointsNumber"></span></p></li>
            <li id="timeNav" style="display: none;"><p>Time <br><span id="timeNumber"></span></p></li>
        </ul>
    </nav>
    <div class="buttons">
        <a class="cta homeButton" href="../home/">Home</a>
        <a class="cta endButton">End Round</a>
    </div>
</header>