body {
    font-family: 'Neo Sans Italic', sans-serif;
    font-size: 60px;
    /* Adjust size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #000;
}

.gradient-text .letter {
    font-family: 'Neo Sans';
    background: linear-gradient(to right, blue, white, blue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

nav {
    background: transparent;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: transparent;
    text-align: center;
}

nav a,
nav .header-title{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px 0;
    display: block;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color: #f00;
    transform: scale(1.1);
}

nav .header-title {
    font-size: 3em;
    font-weight: bold;
}